@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #6ab9d1;
    text-transform: uppercase;
    text-align: center;

}

h2 {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

}

h3 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: indigo;

}

p {

    color: black;
    font-weight: 20px;
    font-family: 'Montserrat', sans-serif;

}

div {
    object-fit: fill;
    border: 15px solid rgb(177, 177, 177);
    padding: 30px;
    margin: 10px;
  }

a:link, a:visited {
    background-color: #6ab9d1;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
a:hover, a:active {
    background-color: rgb(27, 134, 167);
  }
